# Data Exploration.

In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd

In [2]:
# Load jsonl file
original_data = '../../data/raw/original_data.jsonl'
df = pd.read_json(original_data, lines=True)
# pd.set_option('display.max_colwidth', None)
df.head()

,IAID,text,mentions,relations
0,a7bb9917-95ff-3f55-a640-4c5afcec25f2,View towards SE of junction of Queen Victoria ...,"[{'ne_span': 'Queen Victoria Road', 'ne_start'...",NaN
1,c29a7b77-7c46-3b85-88fe-05c8f4b2e384,"Front page of Bucks Free Press, Time capsule f...","[{'ne_span': 'Bucks Free Press', 'ne_start': 1...",NaN
2,196c11e6-f7b6-392f-ae41-28653345087c,"High Wycombe Police Station, in Queen Victoria...","[{'ne_span': 'High Wycombe Police Station', 'n...",NaN
3,7a5aace6-2398-3dcf-8843-37ff6ccea875,"Reference Library door, Queen Victoria Rd, Hig...","[{'ne_span': 'Reference Library', 'ne_start': ...",NaN
4,c66c4715-c03a-3aab-964b-e733f3ff1cf4,"Terrace of brick and flint cottages, Beech Rd,...","[{'ne_span': 'Beech Rd', 'ne_start': 37, 'ne_e...",NaN

In [3]:
df[df['relations'].notnull()].head()

,IAID,text,mentions,relations
6,e39a291d-ed39-3b56-b9aa-2022964a4114,"Row of cottages and part of factory building, ...","[{'ne_span': 'Coopers Yard', 'ne_start': 46, '...",[{'subject': 'https://www.wikidata.org/wiki/Q6...
65,db700e4f-3c74-34f4-a7e7-05e0b5e61049,Western side of Bridge over River Wye showing ...,"[{'ne_span': 'Bridge', 'ne_start': 16, 'ne_end...",[{'subject': 'https://www.wikidata.org/wiki/Q1...
96,392ae208-3ad8-36d8-b00a-030c4e875805,View South from junction with High St of Queen...,"[{'ne_span': 'High St', 'ne_start': 30, 'ne_en...",[{'subject': 'https://www.wikidata.org/wiki/Q1...
103,d7e9182e-b568-3af9-ae68-aa0239943244,"A postcard showing E. side, Chapel and front o...","[{'ne_span': 'Wycombe', 'ne_start': 48, 'ne_en...",[{'subject': 'https://www.wikidata.org/wiki/Q8...
147,2b9f740d-bf39-30a1-b131-5af7c7c9ae32,Looking from SE a view of E. and S. sides of W...,"[{'ne_span': 'Wycombe', 'ne_start': 45, 'ne_en...",[{'subject': 'https://www.wikidata.org/wiki/Q6...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   IAID       2000 non-null   object
 1   text       2000 non-null   object
 2   mentions   1983 non-null   object
 3   relations  36 non-null     object
dtypes: object(4)
memory usage: 62.6+ KB

I want the same number of data, so if we have null values we can safely remove, because it shows problems with the pipeline or original data. Which is not a focus of this project. We will remove it. Relations column is a bi-product of the pipeline so we can safely remove it.

In [5]:
del df['relations']

df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1983 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   IAID      1983 non-null   object
 1   text      1983 non-null   object
 2   mentions  1983 non-null   object
dtypes: object(3)
memory usage: 62.0+ KB

In [6]:
df.head()

,IAID,text,mentions
0,a7bb9917-95ff-3f55-a640-4c5afcec25f2,View towards SE of junction of Queen Victoria ...,"[{'ne_span': 'Queen Victoria Road', 'ne_start'..."
1,c29a7b77-7c46-3b85-88fe-05c8f4b2e384,"Front page of Bucks Free Press, Time capsule f...","[{'ne_span': 'Bucks Free Press', 'ne_start': 1..."
2,196c11e6-f7b6-392f-ae41-28653345087c,"High Wycombe Police Station, in Queen Victoria...","[{'ne_span': 'High Wycombe Police Station', 'n..."
3,7a5aace6-2398-3dcf-8843-37ff6ccea875,"Reference Library door, Queen Victoria Rd, Hig...","[{'ne_span': 'Reference Library', 'ne_start': ..."
4,c66c4715-c03a-3aab-964b-e733f3ff1cf4,"Terrace of brick and flint cottages, Beech Rd,...","[{'ne_span': 'Beech Rd', 'ne_start': 37, 'ne_e..."

In [7]:
# Rename columns for better interpretation
df = df.rename(columns={'IAID': 'Image_ID', 'text': 'Document', 'mentions': 'Named_Entities'})
df.head()

,Image_ID,Document,Named_Entities
0,a7bb9917-95ff-3f55-a640-4c5afcec25f2,View towards SE of junction of Queen Victoria ...,"[{'ne_span': 'Queen Victoria Road', 'ne_start'..."
1,c29a7b77-7c46-3b85-88fe-05c8f4b2e384,"Front page of Bucks Free Press, Time capsule f...","[{'ne_span': 'Bucks Free Press', 'ne_start': 1..."
2,196c11e6-f7b6-392f-ae41-28653345087c,"High Wycombe Police Station, in Queen Victoria...","[{'ne_span': 'High Wycombe Police Station', 'n..."
3,7a5aace6-2398-3dcf-8843-37ff6ccea875,"Reference Library door, Queen Victoria Rd, Hig...","[{'ne_span': 'Reference Library', 'ne_start': ..."
4,c66c4715-c03a-3aab-964b-e733f3ff1cf4,"Terrace of brick and flint cottages, Beech Rd,...","[{'ne_span': 'Beech Rd', 'ne_start': 37, 'ne_e..."

In [8]:
import re
from typing import List, Dict, Any

def expand_abbreviations(text: str, abbreviation_map: Dict[str, str]) -> str:
    """Expands abbreviations in a given text using the provided mapping."""
    for abbr, full_form in abbreviation_map.items():
        text = re.sub(rf'\b{re.escape(abbr)}\b', full_form, text)
    return text

def process_dataframe(df: pd.DataFrame, abbreviation_map: Dict[str, str]) -> pd.DataFrame:
    """
    Processes the entire dataframe to expand abbreviations in the 'Document' column
    and update the 'Named_Entities' column accordingly.
    
    Args:
        df (pd.DataFrame): The input dataframe.
        abbreviation_map (dict): A dictionary mapping abbreviations to their expanded forms.
    
    Returns:
        pd.DataFrame: The updated dataframe with expanded text and named entities.
    """
    updated_rows = []
    
    for _, row in df.iterrows():
        document = row['Document']
        named_entities = row['Named_Entities']
        
        # Expand abbreviations in document
        updated_document = expand_abbreviations(document, abbreviation_map)
        
        updated_named_entities = []
        for entity in named_entities:
            expanded_span = expand_abbreviations(entity['ne_span'], abbreviation_map)
            
            # If the entity is a date, retain only numeric data
            if entity.get('ne_type') == 'DATE':
                numeric_span = re.sub(r'\D', '', expanded_span)
                updated_named_entities.append({
                    **entity,
                    'ne_span': numeric_span
                })
            else:
                updated_named_entities.append({
                    **entity,
                    'ne_span': expanded_span
                })
        
        updated_rows.append({
            'Image_ID': row['Image_ID'],
            'Document': updated_document,
            'Named_Entities': updated_named_entities
        })
    
    return pd.DataFrame(updated_rows)

# Example abbreviation map
abbreviation_map = {
    # Street Names
    "Rd": "Road ",
    "Rd.": "Road ",
    "St": "Street ",
    "St.": "Street ",
    "Ave": "Avenue ",
    "Ave.": "Avenue ",
    # Other
    'R': 'River ',
    'R.': 'River ',
    # Compass Directions
    "N": "North",
    "S": "South",
    "E": "East",
    "W": "West",
    "SE": "South East",
    "SW": "South West",
    "NE": "North East",
    "NW": "North West",
}


updated_df = process_dataframe(df, abbreviation_map)
updated_df.head()

,Image_ID,Document,Named_Entities
0,a7bb9917-95ff-3f55-a640-4c5afcec25f2,View towards South East of junction of Queen V...,"[{'ne_span': 'Queen Victoria Road', 'ne_start'..."
1,c29a7b77-7c46-3b85-88fe-05c8f4b2e384,"Front page of Bucks Free Press, Time capsule f...","[{'ne_span': 'Bucks Free Press', 'ne_start': 1..."
2,196c11e6-f7b6-392f-ae41-28653345087c,"High Wycombe Police Station, in Queen Victoria...","[{'ne_span': 'High Wycombe Police Station', 'n..."
3,7a5aace6-2398-3dcf-8843-37ff6ccea875,"Reference Library door, Queen Victoria Road , ...","[{'ne_span': 'Reference Library', 'ne_start': ..."
4,c66c4715-c03a-3aab-964b-e733f3ff1cf4,"Terrace of brick and flint cottages, Beech Roa...","[{'ne_span': 'Beech Road ', 'ne_start': 37, 'n..."

In [11]:
# Save the data
processed_data_filepath = '../../data/processed/processed_data.csv'
updated_df.to_csv(processed_data_filepath, index=False)
print(f"Processed data saved to {processed_data_filepath}")

Processed data saved to ../../data/processed/processed_data.csv